/*Breakpoints*/

/*960 / 740*/

/*reset*/

body, h1, h2, h3, p, ul {
    padding: 0;
    margin: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #252525;
}

* {
    box-sizing: border-box;
}

/* menu */

.menu {
    background: #252525;
    padding: 20px 0;
}

.menu_container {
    max-width: 960px;
    margin: 0 auto;
}

.menu_container::after, .menu_container::before {
    content: "";
    display: table;
    clear: both;
}

.menu_logo {
    display: block;
    float: left;
    margin-left: 10px;
}

.menu_nav {
    float: right;
}

.menu_nav li {
    display: inline-block;
}

.menu_nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-style: 1.125em;
}

/* intro */

.intro {
    background: url('../img/bg-intro.jpg')no-repeat center center;
    background-size: cover;
    padding: 150px 0;
    text-align: center;
    color: #fff;
}

.intro h1 {
    text-transform: uppercase;
    font-size: 3em;
}

.intro h1::after {
    content: "";
    display: block;
    width: 70px;
    height: 4px;
    background: #fff;
    margin: 10px auto;
}

.intro p {
    font-style: italic;
    font-size: 1.125em;
}

/* sobre */

.sobre {
    padding: 60px 0;
}

.sobre_container {
    max-width: 960px;
    margin: 0 auto;
}

.sobre_container::after, .sobre_container::before {
    content: "";
    display: table;
    clear: both;
}

.sobre h2 {
    text-align: center;
    font-size: 2.25em;
    margin-bottom: 60px;
    text-transform: uppercase;
}

.sobre h2::after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background: #252525;
    margin: 10px auto;
}

.sobre_item {
    width: 460px;
    float: left;
    margin: 0 10px;
}

.sobre_item img {
    display: block;
    max-width: 100%;
}

.sobre_item h3 {
    font-size: 2.25em;
    background: #252525;
    width: 220px;
    color: #fff;
    font-style: italic;
    font-weight: normal;
    text-align: center;
    line-height: 1em;
    padding: 5px 0 10px 0;
    position: relative;
    top: -25px;
}

.sobre p {
    font-size: 1.25em;
    line-height: 1.4em;
    font-style: italic;
    text-align: center;
    margin: 20px auto;
    max-width: 460px;
}

/* produtos */

.produtos {
    background: #e7e4d8;
    padding: 60px 0;
    border-top: 3px solid #d6d3c8;
    border-bottom: 3px solid #d6d3c8;
}

.produtos_container {
    max-width: 960px;
    margin: 0 auto;
}

.produtos_container::after, .produtos_container::before {
    content: "";
    display: table;
    clear: both;
}

.produtos_item {
    width: 300px;
    float: left;
    margin: 0 10px 20px 10px;
}

.produtos_item h2 {
    text-align: center;
    font-size: 2.25em;
    margin-bottom: 20px;
}

.produtos_item h2::before {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    background: currentColor;
    border-radius: 50%;
    margin: 20px auto;
    border: 5px solid #e7e4d8;
    box-shadow: 0 0 0 10px currentColor;
}

.paulista::before {
    color: #492901;
}

.carioca::before {
    color: #c17139;
}

.mineiro::before {
    color: #d7a54d;
}

.produtos_item p {
    font-size: 0.8em;
    line-height: 1.4em;
}

.produtos_btn {
    width: 180px;
    border: 3px solid;
    color: #252525;
    text-decoration: none;
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 0;
    margin: 20px auto 0 auto;
}

/* LOCAIS */

.locais {
    max-width: 960px;
    margin: 0 auto;
}

.locais_itens {
    margin: 60px auto;
}

.locais_itens::after, .locais_itens::before {
    clear: both;
    display: table;
    content: "";
}

.locais_itens img {
    width: 460px;
    float: left;
    display: block;
    margin: 0 10px;
}

.locais_info {
    width: 460px;
    float: left;
    margin: 0 10px;
}

.locais_itens h2 {
    font-size: 2.25em;
    margin-bottom: 20px;
}

.locais_itens p {
    font-size: 1.125em;
    line-height: 1.4em;
    max-width: 320px;
    margin-bottom: 40px;
}

.locais_itens a {
    font-size: 1.125em;
    text-transform: uppercase;
    text-decoration: none;
    border: 3px solid;
    color: #252525;
    padding: 10px 20px;
}

/* assine */

.assine {
    background: #e7e4d8;
    padding: 30px 0;
}

.assine_container {
    max-width: 960px;
    margin: 0 auto;
}

.assine_container::after, .assine_container::before {
    clear: both;
    display: table;
    content: "";
}

.assine_info {
    width: 460px;
    margin: 0 10px;
    float: left;
}

.assine_info h2 {
    font-size: 2.25em;
}

.assine_info p {
    font-size: 1.5em;
    font-style: italic;
}

.assine form {
    width: 460px;
    margin: 10px 10px 0 10px;
    float: left;
}

.assine label {
    display: none;
}

.assine input {
    width: 320px;
    border: 3px solid #252525;
    background: none;
    font-size: 1.5em;
    font-style: italic;
    font-family: Georgia, serif;
    padding: 10px;
    float: left;
    outline: none;
}

.assine button {
    background: #252525;
    font-family: Georgia, serif;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5em;
    width: 140px;
    padding: 13px 0;
    border: none;
    cursor: pointer;
}

/* footer */

.footer {
    background: #d6d3c8;
    padding: 40px 0;
}

.footer_container {
    max-width: 960px;
    margin: 0 auto;
}

.footer_container::after, .footer_container::before {
    clear: both;
    display: table;
    content: "";
}

.footer p {
    float: left;
    margin: 0 10px;
    font-size: 1.125em;
    line-height: 1.4em;
}

.footer img {
    float: right;
    display: block;
    margin: 0 10px;
}

/* responsivo */

/* menu */

@media only screen and (max-width: 739px) {
    .menu_logo {
        width: 100%;
        text-align: center;
        margin: 0;
    }
    .menu_nav {
        float: none;
        clear: both;
        text-align: center;
    }
}

/* introdução */

@media only screen and (max-width: 739px) {
    .intro {
        padding: 60px 0;
    }
}

/*sobre */

@media only screen and (max-width: 980px) {
    .sobre_container {
        max-width: 720px;
    }
    .sobre_item {
        width: 340px;
    }
}

@media only screen and (max-width: 739px) {
    .sobre_container {
        max-width: 300px;
    }
    .sobre_item {
        width: 300px;
        margin: 0 auto;
    }
}

/* produtos */

@media only screen and (max-width: 980px) {
    .produtos_container {
        max-width: 720px;
    }
    .produtos_item {
        width: 220px;
    }
}

@media only screen and (max-width: 739px) {
    .produtos_container {
        max-width: 300px;
    }
    .produtos_item {
        width: 300px;
        margin: 0 auto 20px auto;
    }
}

/* locais */

@media only screen and (max-width: 980px) {
    .locais {
        max-width: 720px;
    }
    .locais h2 {
        margin-top: 10px;
    }
    .locais_info {
        width: 340px;
    }
    .locais_itens img {
        width: 340px;
    }
}

@media only screen and (max-width: 739px) {
    .locais {
        max-width: 300px;
        text-align: center;
    }
    .locais_itens img, .locais_info {
        width: 300px;
        margin: 0;
    }
}

/* assine */

@media only screen and (max-width: 980px) {
    .assine_container {
        max-width: 720px;
    }
    .assine_info, .assine form, .assine input {
        width: 340px;
    }
    .assine button {
        width: 100%;
        margin-top: 5px;
    }
}

@media only screen and (max-width: 739px) {
    .assine_container {
        max-width: 300px;
    }
    .assine_info, .assine form, .assine input {
        width: 300px;
        margin-top: 10px;
        text-align: center;
    }
}

/* footer */

@media only screen and (max-width: 739px) {
    .footer_container {
        max-width: 300px;
        text-align: center;
    }
    .footer p {
        float: none;
        margin: 0;
    }
    .footer img {
        float: none;
        margin: 20px auto;
    }
}